.text-green
{
  color: chartreuse;
  background-color: darkgoldenrod;
  text-align: center;
}
#example-3
{
color: rgb(131, 18, 18);
background-color: dimgray;
}
#example-5
{
  color: rgb(189, 117, 9);
  background-color: rgb(5, 085, 0);
}
#example-6
{
  color: rgb(138, 37, 37);
  background-color: darkgrey;
}